button:not(:disabled), .button:not(:disabled) {
  box-shadow: 2px 2px 3px 1px rgba(32, 32, 32, 0.6);
  transition: box-shadow 0.2s;
  &:enabled:hover {
    box-shadow: 0 4px 6px 3px rgba(22, 24, 25, 0.3);
  }
}

body {
  background: url("/static/travel2.jpg") no-repeat fixed center center;
  background-size: cover;

  .background-layer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.6;
    background-color: #110;
    z-index: -1;
  }

  .container {
    z-index: 10;
  }
}

.content-wrapper {
  margin-top: 15px;
  background: rgba(2, 2, 2, 0.3);
  padding: 20px;
  border-radius: 3px;
  box-shadow: 4px 4px 6px 2px rgba(1, 1, 1, 0.4);
  min-height: 400px;

  h2, a, a:hover {
    color: #fff;
  }
  a {
    text-decoration: underline;
    transition: all 0.2s;
  }
  a:hover {
    color: #ddd;
  }
}

.main-form {
  .logo {
    margin-bottom: 25px;
    width: 80%;
  }

  label {
    display: block;
    color: #fff;
  }

  input {
    width: 100%;
    border: 1px #e5e6e7;
    border-radius: 5px;
    padding: 10px;
    line-height: 26px;
    font-size: 22px;
    color: #444;
    &::-moz-placeholder, &::-webkit-input-placeholder, &:-ms-input-placeholder {
      color: #777;
    }
  }

  .btn {
    margin-top: 15px;
    background-color: #0066aa;
    border: none;
    &:enabled:hover {
      background-color: #00bfef;
    }
    &:disabled:hover {
      background-color: #0066aa;
    }

    & + label {
      display: block;
      margin-top: 5px;
    }
  }
}

.auth-logo {
  max-width: 100%;
  object-fit: cover;
}

.db-auth-button {
  margin-top: 30px;
  display: inline-block;
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  width: 300px;
}

/* sections */
section {
  font-family: 'Montserrat';
  height: 100vh;
  padding-top: 30px;
  text-align: center;
  border-bottom: 2px solid #555;

  .section-header {
    text-transform: uppercase;
    font-weight: bold;
  }

  .section-logo {
    margin: 25px auto;
    display: inline-block;
    width: 400px;
    height: 200px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &.weather {
    color: #fff;
    background-color: #5089da;

    .section-logo {
      background-image: url("/static/weather-set.png");
    }
  }

  &.flights {
    color: #444;
    background-color: #fff;

    .section-header {
      margin-top: 5px;
    }

    .section-logo {
      background-image: url("/static/plane-set.png");
      margin-top: -20px;
      margin-bottom: -25px;
    }
  }

  &.accommodation {
    color: #ee6f00;
    background-color: #fff;

    .section-header {
      margin-top: 5px;
    }

    .section-logo {
      background-image: url("/static/accommodation-set.png");
      width: 200px;
      height: 100px;
    }
  }
}

.flex-widget {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.weather-widget {

  .item {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    color: #333;
    margin: 25px;
    box-shadow: 2px 0 4px 0 rgba(32, 32, 32, 0.4);
    min-width: 130px;
  }

  .weather-date {
    font-size: 26px;
  }
  .weather-temperature {
    font-size: 20px;
    margin-top: 10px;
  }
}

.flight-item {
  .item {
    border: 3px solid #444;
    padding: 15px 30px;
  }

  h3 {
    margin-top: 5px;
  }

  .flight-price {
    margin-top: 10px;
    a, a:hover {
      color: inherit;
      font-size: 23px;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.accommodation-widget {
  margin-top: 10px;
}

.place-item {
  width: 200px;
  border: 3px solid #ee6f00;
  padding: 15px 15px;

  h3, h3 a, h3 a:hover {
    font-size: 18px;
    line-height: 20px;
    margin-top: 5px;
    height: 80px;
  }

  .place-thumb {
    max-width: 100%;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin: 0 auto;
  }

  .price {
    margin-top: 10px;
    font-size: 24px;

    .rate {
      font-size: 16px;
    }
  }
}