#map-canvas {
  height: 100%;
  width: 100%;
}

.weather-bar {
  background-color: #f9f9f9;
  padding: 3px;
}

.weather-date {
  font-weight: bold;
}

.weather-icon {
}

.uber-logo-container {
  display: inline-block;
}

.uber-logo {
  width: 40px;
  height: 40px;
}

.uber-cost {
  font-size: 1.2em;
  display: inline-block;
}

.currency-symbol {
  font-weight: bold;
}
