{% if places %}
    <section class="accommodation">
        <div class="container text-center">
            <h1 class="section-header">Recommended Accommodation</h1>
            <div class="section-logo"></div>
            <div class="accommodation-widget flex-widget">
                {% for place in places %}
                    {% if accommodation_type == "airbnb" %}
                        {# AIRBNB #}
                        <div class="place-item">
                            <img src="{{ place.listing.picture_url }}"
                                 class="place-thumb">
                            <hr>
                            <h3>
                                <a target="_blank"
                                   href="http://airbnb.com/rooms/{{ place.listing.id }}">{{ place.listing.name }}</a>
                            </h3>
                            <hr>
                            <p class="price">
                                {{ place.pricing_quote.price.total.amount }}&euro;<br>
                                <span class="rate">
                                        ({{ place.pricing_quote.rate.amount }}&euro; {{ place.pricing_quote.rate_type }})
                                </span>
                            </p>
                        </div>
                    {% else %}
                        <div class="place-item">
                            <img src="{{ place.image_urls[0] }}"
                                 class="place-thumb">
                            <hr>
                            <h3>
                                <a target="_blank"
                                   href="#">{{ place.name }} {{ ' *' * place.star_rating }}</a>
                            </h3>
                            <hr>
                            <p class="price">
                                {{ place.price_total }}&euro;<br>
                                <span class="rate">
                                    User's opinions: {{ place.popularity_desc }}
                                </span>
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}