<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deutsche Bank Trip Assistant</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/picker/default.css">
    <link rel="stylesheet" href="/static/picker/default.date.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/static/base.css">
</head>
<body>
<div class="background-layer"></div>
{% block content %}{% endblock %}
<script src="/static/jquery.min.js"></script>
<script src="/static/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/picker/picker.js"></script>
<script src="/static/picker/picker.date.js"></script>
<script src="/static/spin.min.js"></script>
<script src="/static/base.js"></script>
<script src='/static/autocompletion.js'></script>
</body>
</html>
